[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django-debug-toolbar = "*"
django-role-permissions = "*"
regex = "*"
requests = "*"
Django = "==3.1.12"
django-model-utils = "*"
django-taggit = "*"

[requires]
python_version = "3.9"
